BasedOnStyle: Chromium
IndentWidth: 2
UseTab: Never
FixNamespaceComments: false
NamespaceIndentation: All
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
IndentPPDirectives: BeforeHash
AccessModifierOffset: 0
ColumnLimit: 120