menu "HEXA"

rsource "config/Kconfig.motors" 
rsource "config/Kconfig.imu"
rsource "config/Kconfig.can"
rsource "config/Kconfig.http"
rsource "config/Kconfig.ota"
rsource "config/Kconfig.wifi"
rsource "config/Kconfig.tasks"
rsource "config/Kconfig.sd"

endmenu