
menu "CAN"

config HEXA_CAN_RX_PIN
  int "Rx Pin Number"
  default 26

config HEXA_CAN_TX_PIN
  int "Tx Pin Number"
  default 25

config HEXA_CAN_BAUDRATE_KHZ
  int "Buadrate (KHz)"
  default 1000

config HEXA_CAN_TX_QUEUE_LEN
  int "Transmit Queue Len"
  default 8

endmenu