menu "HTTP"

config HEXA_HTTP_USE_HTTPS
  bool "Use HTTPS"
  default true

config HEXA_HTTP_MAX_REQUEST_LEN
  int "Max request length"
  range 0 1024
  default 512

config HEXA_HTTP_ALLOW_CORS
  bool "Allow CORS"
  default n

config HEXA_HTTP_KEEP_ALIVE
  bool "Enable keep alive"
  default y

config HEXA_HTTP_MAX_OPEN_SOCKET
  int "Maximum number of open sockets"
  default 16

config HEXA_HTTP_MAX_URI_HANDLER_COUNT
  int "Maximum number of uri handlers"
  default 128

endmenu