menu "Tasks"

menu "DNS"

config HEXA_TASKS_DNS_PRIORITY
  int "Priority"
  default 2

config HEXA_TASKS_DNS_STACK_SIZE
  int "Stack Size"
  default 4096

config HEXA_TASKS_DNS_NAME_SIZE
  string "Domain Name"
  default "hexa.lan"

endmenu

menu "WebSocket"

config HEXA_TASKS_WS_PRIORITY
  int "Priority"
  default 2

config HEXA_TASKS_WS_STACK_SIZE
  int "Stack Size"
  default 4096

endmenu

menu "IMU"

config HEXA_TASKS_IMU_PRIORITY
  int "Priority"
  default 2

config HEXA_TASKS_IMU_STACK_SIZE
  int "Stack Size"
  default 4096

endmenu

menu "Control"

config HEXA_TASKS_CONTROL_PRIORITY
  int "Priority"
  default 2

config HEXA_TASKS_CONTROL_STACK_SIZE
  int "Stack Size"
  default 4096

endmenu

endmenu